
  
  
  /* *{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family:sans-serif;


}
body{
    background-color:rgb(250, 250, 243);
    color :black

}
.container{
    max-width:fit-1300px;
    width: 100%;
    margin:auto;

}
section{
    min-height: 500vh;
    display:flex;
    flex-direction:column;
    align-items:center ;
}

h1{
    font-size: 50px;
    line-height: 60px;
     text-align: center; 
     margin-bottom: 40px; 
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

} 
.card{
    flex: 0 0 calc(33.33% -20px);
    max-width: calc(33.33% -20px);
    width:100%;
    background:rgb(250, 250, 243);
    border-radius: 10px;
    padding: 20px;
    margin-bottom:20px;
    transition: .3s;
    border:2px solid transparent;


}

.card:hover{
    border-color: brown; 
    
}
 */
